<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>FreshProfile</string>
  <key>CFBundleIdentifier</key>
  <string>app.somtum.FreshProfile</string>
  <key>CFBundleIconFile</key>
  <string>FreshProfile.icns</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>FreshProfile</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.2.2</string>
  <key>CFBundleVersion</key>
  <string>4</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.utilities</string>
  <key>LSMinimumSystemVersion</key>
  <string>13.0</string>
  <key>SUEnableAutomaticChecks</key>
  <true/>
  <key>SUAutomaticallyUpdate</key>
  <true/>
  <key>SUFeedURL</key>
  <string>https://raw.githubusercontent.com/somtum1120/fresh-profile/main/appcast.xml</string>
  <key>SUPublicEDKey</key>
  <string>5gjRm6ag88mT86XGx/2KF5+8DxpkiGencefvXeC+TII=</string>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
